.App {
    text-align: center;
    padding-top: 1em;
}

.app-container {
    border: 1px solid green;
    margin: 0 auto;
    width: 375px;
}

.header-container {
    border: 1px solid red;
    margin: 0 auto;
    width: 100%;
}

.tasklist-container {
    border: 1px solid blue;
    width: 90%;
    margin: 1em auto;
}

.task-container {
    border: 1px solid purple;
    width: 90%;
    margin: 1em auto;
}

.completed-tasklist-container {
    border: 1px solid orange;
    width: 90%;
    margin: 1em auto;
}

.footer-container {
    border: 1px solid grey;
    /* width: 80%; */
    margin: 0 auto;
}
